<!-- root navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- navbar banner
      - Here, the href '#' is equivalent to empty route ''
      - So, route '' is executed on clicking the navbar banner
      - As per the route '' in AppRoutingModule, the application re-directs to '/events' 
    -->
    <a class="navbar-brand" href="#">Eventhub</a>

    <!-- Makes the navbar responsive (shows up a button to use navbar links when window shrinks) -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- navbar links: event -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- 
            anchor tag '<a>' directive details:
                * routerLink:
                  - when applied to an element, makes that element a link that initiates navigation to the specified route
                  - this navigation (if implemented in AppRoutingModule) opens one or more routed component in one or more 'router-outlet' directive locations on the page
                * routerLinkActive:
                  - tracks whether the linked route to an element is currently active
                  - allows to add single or multiple CSS classes to the element when its linked route is active
          -->
          <a
            class="nav-link"
            aria-current="page"
            href="#"
            routerLink="/events"
            routerLinkActive="active"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/special"
            routerLinkActive="active"
            >Members</a
          >
        </li>
      </ul>

      <!-- navbar links: authentication/sign-up -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="#"
            routerLink="/login"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/register"
            routerLinkActive="active"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--
  directive (like a placeholder) for filling in the current state (current route view) of the router dynamically in this template (the current template: app.component.html)
  currently, all the route views in the application are loaded under a 'container' class division
-->
<div class="container">
  <router-outlet></router-outlet>
</div>
