<!-- root navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- navbar banner -->
    <a class="navbar-brand" href="#">Eventhub</a>

    <!-- Makes the navbar responsive (shows up a button to use navbar links when window shrinks) -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- navbar links: event -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Members</a>
        </li>
      </ul>

      <!-- navbar links: authentication/sign-up -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--
  directive (like a placeholder) for filling in the current state (current route view) of the router dynamically in this template (the current template: app.component.html)
  currently, all the route views in the application are loaded under a 'container' class division
-->
<div class="container">
  <router-outlet></router-outlet>
</div>
